*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #31694E;
    z-index: -1;

}

.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle 1500px at top right, rgb(191, 211, 131), rgba(71, 138, 80, 0.929) ,rgba(39, 80, 71, 0.853));
    animation: breathing 14s ease infinite;
    z-index: 0;
}

.quote-container {
    height: 300px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #658C58;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.quote {
    display: flex;
    height: 100px;
    width: 90%;
    font-size: 2.75rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    transition: 0.75s opacity;
    color: #faf5d2;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.quote::before {
    content: "\201C";
    font-size: 7rem;
    opacity: 0.3;
    margin-right: 10px;
}

.quote-btn {
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: transparent;
    color: #BBC863;
    border: 3px solid #BBC863;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.15s ease;
    font-family: "Rubik", sans-serif;
}
.quote-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;                  /* start off to the left */
    width: 50%;                  /* width of the shine */
    height: 100%;
    background: linear-gradient(
        120deg,
        rgba(132, 163, 90, 0.15) 0%,
        rgba(250, 255, 159, 0.25) 50%,
        rgba(132, 163, 90, 0.15) 100%
    );
    transform: skewX(-20deg);    /* make it look angled */
    transition: all 0.5s ease;
}

.quote-btn:hover::before {
    left: 125%;
}

.quote-btn:hover {
    background-color: #BBC863;
    border: 3px solid transparent;
    color: #658C58;
    box-shadow: 0 0 10px #1b3d2d66;
}

.quote-btn:active {
    opacity: 0.7;
}

@keyframes breathing {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}